 repos:
  # Typescript
  - repo: local
    hooks:
      # - id: eslint
      #   stages: [commit]
      #   name: eslint
      #   entry: bash -c "npm run lint"
      #   language: node
      - id: prettier
        stages: [commit]
        name: prettier
        entry: bash -c "npm run format"
        language: node
